*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,body{
  height: 100%;
  width: 100%;  
}
button{
  font-size: 20px;
  color: rgb(19, 19, 19);
  padding: 20px 40px;
  border:none;
  border-radius: 50px;
 margin:40px;
 background-color: rgb(109, 185, 101);
}
 h1{
  background-color: gainsboro;
  width:fit-content;
  padding:20px 80px;
  border-radius: 5px;
  margin:40px;
 }